<h1>注文一覧リスト</h1>

<ul>
  <% @orders.each do |order| %>
    <li>
      <span>注文履歴ID: <%= order.id %></span>, <span>注文日付: <%= order.ordered_at %></span>
    </li>
  <% end %>
</ul>


<% if @page_num > 1 %>
  <%= link_to "Prev", "/orders/customer_orders/#{@customer_id}?page=#{@page_num-1}" %>
<% end %>
<% if @orders.size == @page_size %>
  <%= link_to "Next", "/orders/customer_orders/#{@customer_id}?page=#{@page_num+1}"  %>
<% end %>

<p>Page <%= @page_num %></p>
